<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <title>PixelTrice</title>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <link rel="stylesheet" href="/css/style.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--</head>-->
<!--<body>-->
<!--<br><br>-->
<!--<h1 class="text-center">Spring Boot Image Gallery Application</h1><br><br>-->
<!--<div class="contact py-sm-5 py-4">-->
<!--		<div class="container py-xl-4 py-lg-2">-->
<!--		&lt;!&ndash; form &ndash;&gt;-->
<!--		<form id="form">-->
<!--				<div class="contact-grids1 w3agile-6">-->
<!--					<div class="row">-->
<!--						<div class="col-md-6 col-sm-6 contact-form1 form-group">-->
<!--							<label class="col-form-label">Name</label>-->
<!--							<input type="text" class="form-control" placeholder="Product Name" id="name" name="name" required="required">-->
<!--							<p id="error_name"></p>-->
<!--						</div>-->
<!--						<div class="col-md-6 col-sm-6 contact-form1 form-group">-->
<!--							<label class="col-form-label">Description</label>-->
<!--							<textarea class="form-control" placeholder="Product Description" id="description" rows="3" cols="45" name="description" required="required"></textarea>-->
<!--							<p id="error_description"></p>-->
<!--						</div>-->
<!--						<div class="col-md-6 col-sm-6 contact-form1 form-group">-->
<!--							<label class="col-form-label">Image</label>-->
<!--							<input type="file" class="form-control" placeholder="" name="image" id="image" required="required">-->
<!--							<p id="error_file"></p>-->
<!--						</div>-->
<!--						<div class="col-md-6 col-sm-6 contact-form1 form-group">-->
<!--							<label class="col-form-label">Price</label>-->
<!--							<input type="text" class="form-control" placeholder="Price" name="price" id="price" required="required">-->
<!--							<p id="error_price"></p>-->
<!--						</div>-->
<!--					</div>-->

<!--						<div class="right-w3l col-md-6">-->
<!--							<input type="button" id="submit" class="btn btn-primary form-control" value="Submit">-->
<!--							<br><br>-->
<!--						</div>-->
<!--						<a href="/images" style="float:left;" class="btn btn-success text-right">Show All</a>-->
<!--				</div>-->
<!--				<br>-->
<!--				<div id="success" class="text-center" style="color:green;"></div>-->
<!--				<div id="error" class="text-center" style="color:red;"></div>-->
<!--			</form>-->
<!--		</div>-->
<!--	</div>-->
<!--<p class="text-center">-->
<!--  	<img src="/images/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">-->
<!--</p>-->
<!--	<script src="/js/product.js"></script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Colorlib Templates" name="description">
    <meta content="Colorlib" name="author">
    <meta content="Colorlib Templates" name="keywords">

    <!-- Title Page-->
    <title>Upload Form</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" media="all" rel="stylesheet">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" media="all" rel="stylesheet">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" media="all" rel="stylesheet">
    <link href="vendor/datepicker/daterangepicker.css" media="all" rel="stylesheet">

    <!-- Main CSS-->
    <link href="/css/main.css" media="all" rel="stylesheet">
    <style>

        .headings{
            font-family: 'Lobster', cursive;
            font-size: 4rem;
        }
    </style>
</head>

<body>
<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="headings text-center">Upload Photo For Competetion</h2>
                <div class="row">
                    <div class="col-md-6">
                        <img alt="Jane" src="/images/bg-heading-03.jpg">

                    </div>
                </div>


                <form id="form">
                    <div class="input-group">
                        <input class="input--style-3" id="name" name="name" placeholder="User Name" required="required"
                               type="text">
                        <p id="error_name"></p>
                    </div>
<!--                    <div class="input-group">-->
<!--                        <textarea class="input&#45;&#45;style-3" cols="45" id="description" name="description"-->
<!--                                  placeholder="User Description" required="required" rows="3"></textarea>-->
<!--                        <p id="error_description"></p>-->
<!--                    </div>-->
                    <div class="input-group">

                        <input class="input--style-3" id="image" name="image" placeholder="Choose Image file"
                               required="required" type="file">
                        <p id="error_file"></p>
                    </div>
                    <div class="input-group">
                        <label class="input--style-3 ">max file size 1.2MB</label>
                        <input class="input--style-3" id="price" name="price" placeholder="Set Price" required="required"
                               type="text">
                        <p id="error_price"></p>
                    </div>

                    <div class="right-w3l col-md-6">
                        <input class="btn btn-primary form-control" id="submit" type="button" value="Submit">
                        <br><br>
                    </div>
                    <a class="btn btn-success text-right" href="/images" style="float:left;">Show All Photos</a>
                    <br>

                    <div class="text-center" id="success" style="color:green;"></div>
                    <div class="text-center" id="error" style="color:red;"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>
<script src="/js/product.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->